@using BlazorLib

@inherits BlazorBusyComponentBaseModel

<div class="btn-group btn-group-sm" role="group">
    <button disabled="@(!_available)" type="button" class="btn btn-outline-warning" @onclick=Buy>buy</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-primary" @onclick=Sell>sell</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-warning" title="Bid" @onclick=Bid>B</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-primary" title="Ask" @onclick=Ask>A</button>
</div>

<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.MonetizationOn" Class="mr-3" /> @($"Do you really want to {(side == SidesEnum.Buy ? "BUY" : "SELL")}?")
        </MudText>
    </TitleContent>
    <DialogContent>
        <figure>
            <blockquote class="blockquote">
                <p>Volume: <strong title="Volume order">@(volume.ToString("#"))</strong></p>
            </blockquote>
            <figcaption class="blockquote-footer" style="font-size: 1em;">
                @RestoreStrategy?.Name. Bonds: <cite title="price order" style="font-size: 1.5em;" class="text-primary">@(price.ToString("#.##"))</cite>
            </figcaption>
        </figure>
        <MudSelect @bind-Value="selectedOrderType"
                   Variant="Variant.Outlined"
                   Label="Order type"
                   Dense Modal>
            @foreach (OrderTypesEnum _ot in Enum.GetValues(typeof(OrderTypesEnum)))
            {
                <MudSelectItem title="@_ot.DescriptionInfo()" Value="_ot">@_ot.ToString()</MudSelectItem>
            }
        </MudSelect>
        @if (portfoliosAll is not null)
        {
            <MudSelect @bind-Value="selectedPortfolioId"
                       Variant="Variant.Outlined"
                       Label="Order type"
                       Disabled="@(selectedPortfolioId == 0)"
                       Dense Modal>
                @foreach (PortfolioStockSharpViewModel _p in portfoliosAll)
                {
                    <MudSelectItem Disabled="@(@_p.State == PortfolioStatesEnum.Blocked)" title="@_p.DepoName" Value="_p.Id">
                        @($"{_p.Name}{(_p.Currency is null ? "" : $" '{(CurrenciesTypesEnum?)_p.Currency}'")}")
                    </MudSelectItem>
                }
            </MudSelect>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="() => _visible = false" Class="px-10">Cancel</MudButton>
        <MudButton Variant="Variant.Filled"
                   Disabled="@(selectedPortfolioId == 0)"
                   Color="Color.Primary"
                   OnClick="Submit"
                   Class="px-10">Create new order</MudButton>
    </DialogActions>
</MudDialog>