@using BlazorLib

@inherits StockSharpBaseComponent

<div class="btn-group btn-group-sm" role="group">
    <button disabled="@(!_available)" type="button" class="btn btn-outline-warning" @onclick=Buy>buy</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-primary" @onclick=Sell>sell</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-warning" title="Bid" @onclick=Bid>B</button>
    <button disabled="@(!_available)" type="button" class="btn btn-outline-primary" title="Ask" @onclick=Ask>A</button>
</div>

<MudDialog @bind-Visible="_visible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.MonetizationOn" Class="mr-3" /> @($"Do you really want to {(side == SidesEnum.Buy ? "BUY" : "SELL")}?")
        </MudText>
    </TitleContent>
    <DialogContent>
        <figure>
            <blockquote class="blockquote">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Volume @RestoreStrategy?.Code</label>
                    <input type="number" @bind-value=Volume @bind-value:event="oninput" class="form-control" id="exampleFormControlInput1">
                </div>
            </blockquote>
            <figcaption class="blockquote-footer" style="font-size: 1em;">
                @RestoreStrategy?.Name. Bonds price: <cite title="price order" style="font-size: 1.5em;" class="text-primary">@(price.ToString("#.##"))</cite>
            </figcaption>
        </figure>
        <MudGrid>
            <MudItem xs="12" sm=6>
                <MudSelect @bind-Value="SelectedOrderType"
                           Variant="Variant.Outlined"
                           Label="Order type"
                           Dense Modal>
                    @foreach (OrderTypesEnum _ot in Enum.GetValues(typeof(OrderTypesEnum)))
                    {
                        <MudSelectItem title="@_ot.DescriptionInfo()" Value="_ot">@_ot.ToString()</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm=6>
                <MudSelect @bind-Value="SelectedPortfolioId"
                           Variant="Variant.Outlined"
                           Label="Portfolio"
                           Disabled="@(SelectedPortfolioId == 0)"
                           Dense Modal>
                    @foreach (PortfolioStockSharpViewModel _p in portfoliosAll)
                    {
                        <MudSelectItem Disabled="@(_p.State == PortfolioStatesEnum.Blocked || EachDisable || _p.LastUpdatedAtUTC < AboutConnection!.LastConnectedAt)"
                                       title="@_p.DepoName"
                                       @key="@($"portf_{_p.Id}")"
                                       Value="_p.Id">
                            @_p.ToString()
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>


    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="() => _visible = false" Class="px-10">Cancel</MudButton>
        <MudButton Variant="Variant.Filled"
                   Disabled="@(SelectedPortfolioId == 0)"
                   Color="Color.Primary"
                   OnClick="Submit"
                   Class="px-10">Create new order</MudButton>
    </DialogActions>
</MudDialog>