@using BlazorLib.Components.StockSharp
@using SharedLib

@inherits StockSharpBaseComponent

<tr class="@(!Available ? "opacity-25" : "")">
    @if (IsBusyProgress)
    {
        <th colspan="7">
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
        </th>
    }
    else
    {
        <th scope="row" title="@Instrument.Name">
            <input disabled="@(!Available)" type="text" readonly class="form-control-plaintext" value="@Instrument.Code">
        </th>
        <td>
            @if (Instrument.Markers is not null && Instrument.Markers.Count != 0)
            {
                foreach (MarkerInstrumentStockSharpViewModel _ie in Instrument.Markers)
                {
                    string colorClass = _ie.MarkerDescriptor switch
                    {
                        MarkersInstrumentStockSharpEnum.Illiquid => "primary",
                        MarkersInstrumentStockSharpEnum.IsNew => "info",
                        _ => "danger",
                    };

                    <span class="badge text-bg-@colorClass me-1">@_ie.MarkerDescriptor.DescriptionInfo()</span>
                }
            }
        </td>
        <td><MudNumericField Disabled="@(!Available)" Immediate @bind-Value="BasePrice" Variant="Variant.Text" /></td>
        <td>
            <div class="btn-group btn-group-sm" role="group">
                <button disabled="@(!Available)" type="button" class="btn btn-outline-warning">buy</button>
                <button disabled="@(!Available)" type="button" class="btn btn-outline-primary">sell</button>
            </div>
        </td>
        <td><MudNumericField Disabled="@(!Available)" Immediate @bind-Value="ValueOperation" Variant="Variant.Text" /></td>
        <td><MudNumericField Disabled="@(!Available)" Immediate @bind-Value="ShiftPosition" Variant="Variant.Text" /></td>
        <td>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-text">
                    <input @bind="IsMM" class="form-check-input mt-0" type="checkbox" aria-label="IsMM">
                </div>
                <span class="input-group-text">L1</span>
                <input @bind-value="L1" disabled="@(!Available)" type="number" class="form-control">
                <span class="input-group-text">L2</span>
                <input @bind-value="L2" disabled="@(!Available)" type="number" class="form-control">
            </div>
        </td>
        <td>
            <div class="input-group input-group-sm">
                <button disabled="@(!Available)" class="btn btn-outline-success bi bi-recycle" type="button"></button>
            </div>
        </td>
    }
</tr>